/* ===== CSS Reset + Universal Base Layout ===== */

/* 1. Reset default margins and paddings */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 2. Set full height and remove scroll glitches */
html,
body {
  height: 100%;
  width: 100%;
  overflow: none;
  scroll-behavior: smooth;
  font-family: "e-Ukraine", sans-serif;
  color: #111;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 3. Basic body layout */
body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/* 4. Allow your app to stretch */
#root {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

/* 5. Set basic form styling */
input,
select,
textarea,
button {
  font-family: inherit;
  font-size: 1rem;
  border: none;
  outline: none;
  background: none;
}

/* 6. Images behave nicely */
img,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("./../public/fonts/e-Ukraine/e-Ukraine-Regular.otf")
    format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("./../public/fonts/e-Ukraine/e-Ukraine-Medium.otf")
    format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("./../public/fonts/e-Ukraine/e-Ukraine-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("./../public/fonts/e-Ukraine/e-Ukraine-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("./../public/fonts/e-Ukraine/e-Ukraine-Thin.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "e-Ukraine";
  src: url("./../public/fonts/e-Ukraine/e-Ukraine-UltraLight.otf")
    format("opentype");
  font-weight: 100;
}

body {
  background-color: #1d1d1d !important;
  background-image: radial-gradient(rgba(0, 0, 0, 0.25) 1px, transparent 1px);
  background-size: 2px 2px;
}

main {
  display: flex;
  flex-direction: column;
}

.white-icon {
  path {
    fill: #fff;
  }
}
